<template name="diseñoydesarrollo">
    <div class="wrapper bgded overlay" style="background-image:url('images/demo/backgrounds/imagen 2.jpg');">
	 <div class="Styles" style="">
        <article><a href="#"><i class="fa fa-4x fa-binoculars"></i></a>
            <h6 class="heading font-x1">Nada Te Derrumbe</h6>
            <p>no pienses que tus tristezas duraran toda tu vida, mañana tu estaras preparado para que NADA TE DERRUMBE, tu mayor escudo es Dios</p>
        </article>
	 </div> 
	</div>
</template>