<template name="saber">
	 <div class="wrapper bgded overlay" style="background-image:url('images/demo/backgrounds/imagen 2.jpg');">
	 <div class="Styles" style="">
        <article><a href="#"><i class="fa fa-4x fa-binoculars"></i></a>
            <h6 class="heading font-x1">Quieres Saber Mas de Nosotros</h6>
            <p>Edu.Blog nacio de la idea de dos estudiantes de Ingenieria de sistemas, con el objetivo de mejorar el rendimiento academico,porque tu nos interesas...!!!</p>
            <p> </p>
            <p> </p>
            <p> </p>
            <p> </p>
            <p> </p>
            <p> </p>
        </article>
	 </div> 
	 </div>
</template>